//färger
$color-primary: rgb(245, 151, 114); //rgb(236, 113, 64);  rgb(238, 111, 61)
$color-secondary: rgb(0, 153, 153); 
$color-tetiary: rgb(91, 219, 219);;

//typsnitt
$font-family-main: "Gill Sans", "Arial", "Verdana", sans-serif;
$font-family-secondary: "Courier New", Courier, monospace;