//färger
$color-primary: rgb(243, 135, 92);
$color-secondary: rgb(16, 131, 131);

//typsnitt
$font-family-main: "Gill Sans", "Arial", "Verdana", sans-serif;
$font-family-secondary: "Courier New", Courier, monospace;